<!DOCTYPE HTML>
<html>
<head>
</head>

<body>
    <div class="main">
        {% if users %}
            <table>
                <tr>
                    <th>Name</th>
                </tr>
            {% for user in users %}
                <tr>
                    <td> User: {{ user.name }} </td>
                </tr>
                <tr>
                    <td><button class="button btn" onclick="{{ user.id }}"></td>
                </tr>
            </table>
        {% endif %}
    </div>
</body>
</html>
