<!DOCTYPE HTML>
<html>
<head>
</head>

<body>
    <div class="main">
        {% if user %}
            <table>
                <tr>
                    <th>Image</th>
                    <th>Permission</th>
                </tr>
            {% for image in images %}
                <tr>
                    <td> Image: {{ image.name }} </td>
                </tr>
                {% for permission in image.permissions %}
                    <tr>
                        <input type="checkbox" value="{{ permission.allowed }}">
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}
    </div>
</body>
</html>
