{% extends "base.html" %}

<p> user <p>

{% block main %}
    {% if user %}
        <table>
            <tr>
                <th>Image</th>
            </tr>
            <tr>
                <th>Permissions</th>
            </tr>
        {% comment %} {% for image in images %}
            <tr>
                <td> Image: {{ image.name }} </td>
            </tr>
            {#% if image.id in user.images %}
            {% for user_image in user.image %}
                <tr>
                    <input type="checkbox" value="{{ permission.allowed }}">
                </tr>
            {% endfor %}
        {% endfor %} {% endcomment %}
        </table>
    {% endif %}
{% endblock %}
